<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FliqloWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FliqloWPF.Properties.Settings>
            <setting name="Is12HourClock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Brightness" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
        </FliqloWPF.Properties.Settings>
    </userSettings>
</configuration>